profiles {
  docker {
    includeConfig 'config/docker.config'
  }

  k8s {
    includeConfig 'config/k8s.config'
  }
}

workflow.onComplete = {
    println "\n==== Execution Report ===="
    tz = TimeZone.getTimeZone("Asia/Shanghai")

    println "Started   at: ${ workflow.start.format('yyyy-MM-dd HH:mm:ss', tz) }"
    println "Completed at: ${ workflow.complete.format('yyyy-MM-dd HH:mm:ss', tz) }"
    println "Duration    : ${ workflow.duration }"
    println "Command     : ${ workflow.commandLine }"
    println "Status      : ${ workflow.success ? 'succeeded.' : 'failed, error message: \n' }"

    if (!workflow.success) {
        println workflow.errorMessage
        //println workflow.errorReport
    }
}


manifest {
  name = 'gcbi/gcflow'
  author = 'Danny zhou'
  homePage = 'http://www.gcbi.com.cn'
  description = 'Nextflow DNA-Seq analysis pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0'
}
