docker.enabled = true

process {
    containerOptions = '--volume /data/storage/repo:/repo --volume /data/storage/gcbi/panel:/panel'
    withName:snpEff_anno {
        cpus = 4
        memory = '8 GB'
        container = 'snpeff'
    }

    withName:annovar_anno {
        cpus = 4
        memory = '4 GB'
        container = 'annovar'
    }
    
    withName:AnnotSV_anno {
        cpus = 4
        memory = '4 GB'
        container = 'annotsv'
    }

    withName:interx {
        cpus = 2
        memory = '2 GB'
        container = 'interx'
    }
    
    withName: collect_result {
        cpus = 1
        memory = '1 GB'
        container = 'nfbase'
    }
}

report {
    enabled = true
    file = "/data/storage/gcbi/workspace/${params.tag}/report_${params.tag}.html"
}

params {
    indir = "/sample"
    outdir = "/data/storage/gcbi/workspace/${params.tag}/result"
    paneldir = "/panel/panel1"
}

includeConfig 'tools-default.config'
includeConfig 'tools.config'
