process {
    executor = 'k8s'
    pod = [ 
        [imagePullPolicy: "IfNotPresent"], 
        [volumeClaim: "pvc-workspace", mountPath: "/Test"],
        [env: "SENTIEON_LICENSE", value: "192.168.2.72:8990"]
    ]
    
    container = '47.91.115.141:5000/centos7-ssh:1.0'
    
    withName:somatic_prepare {
        container = '47.91.115.141:5000/centos7-ssh:1.0'
        cpus = 1
        memory = '2 GB'
    }
    
}

k8s {
    storageClaimName = 'pvc-workspace'
    storageMountPath = '/workspace'
    storageSubPath = "${params.tag}"
}

report {
    enabled = true
    file = "report_${params.tag}.html"
}

params {
    indir = "/Test"
    outdir = "/Test/result"
    paneldir = "/Test"
}

includeConfig 'tools-default.config'

includeConfig 'tools.config'
