params {
    genome = "GRCh37"
    paired = true
    toolVendor="sentieon"
    bedFile="/panel/Test/bedfile/genminix_snv_sv.bed"
    umiFlag=""
    codePath="/gcbi/bioxFlow_code/bin/"

    //preprocess module
    preproc {
        baseQualityTrimming=false
        qualityThreshold=15
        removingAdapter=false
        mate1AdapterSequence="CTCTCTAT"
        mate2AdapterSequence="ATAGAGAG"
        otherFilterParameter="[{\"minimum-length\":\"70\"}]"
        fileType="fastqgz"
        maxCores=16
    }

    //alignment module
    alignment {
        realign=true
        markDuplication=true
        alin_baseRecalibration=false
        maxCores=16
    }

    //quality control
    qc {
        ampliconList="/panel/Test/qc/baits.interval_list"
        targetList="/panel/Test/qc/target.interval_list"
        captureList=true
    }

    //variant calling
    variant_calling {
        includeDuplication=false
        variantCallingTool="Sentieon_TNscope"
        callingToolArguFile="/gcbi/config/gcsas/software/Sentieon_TNscope.conf"
        baseRecalibration=true
        hotspots=""
        maxCores=16
    }

    //variant filter
    hard_filter {
        maxCores=16
        filterMethod="Somatic_Threshold_Pass"
        filterToolArguFile="/gcbi/config/gcsas/software/Somatic_Paired_Threshold_Pass.conf"
    }

    //germline variant calling
    germline_variant_calling {
        maxCores=16
        germline_includeDuplication=false
        germline_variantCallingTool="Sentieon_Haplotyper"
        germline_callingToolArguFile="/gcbi/config/gcsas/software/Sentieon_Haplotyper.conf"
        germline_baseRecalibration=true
    }

    //germline variant filter
    germline_hard_filter {
        maxCores=16
        germline_filterMethod="Germline_Hard_Threshold"
        germline_filterToolArguFile="/gcbi/config/gcsas/software/Germline_Hard_Threshold.conf"
    }


    //annox
    annox {
        logpath="/data/bioxFlow/log"
        mode="somatic"
        drugs="true"
        maxCores=16
        config="/panel/Test/config/annoFlow.yml"
    }
    
    //drugx
    drugx {
        db="/gcbi/ref/drugx"
    }

    //svaba for sv
    sv {
        svTool="svaba"
        sv_toolArguFile="/gcbi/config/gcsas/software/svaba.conf"
        maxCores=16
    }

    //CONTRA for cnv
    cnv {
        analyzingTool="CONTRA"
        analysisType="paired"
        controlPoolPath=""
        maxCores=16
        cnv_bedTarget="/panel/Test/bedfile/genminix_cnv.bed"
    }

    //msisensor for msi
    msisensor {
        maxCores=16
        msiTool="msisensor"
        msi_toolArguFile="/gcbi/config/gcsas/software/msisensor.conf"
    }

    snpEff {
        dbpath = "/repo/snpEff/data-default"
    }

    annovar {
        databases = "avsnp150,refGene,1000g2015aug_all,1000g2015aug_afr,1000g2015aug_amr,1000g2015aug_eas,1000g2015aug_eur,1000g2015aug_sas,exac03,dbnsfp35a,revel,dbscsnv11,regsnpintron,gnomad211_exome,clinvar,clinvar_somatic_20180515,cosmic85,cosmic89_somatic,cytoBand,genomicSuperDups,gwasCatalog,rmsk,esp6500siv2_all,ensGene,knownGene,HGMD_201604,TCGA,ICGC,Intogen,DoCM,CancerHotspots,CIViC,CBMDB"
        operates = "f,g,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,r,r,r,f,f,g,g,f,f,f,f,f,f,f,f"
        dbpath = "/gcbi/ref/annovardb/humandb/"
    }

    AnnotSV {
        dbpath = "/repo/AnnotSV"
    }
    
    interx {
        db = "/gcbi/ref/interx"
    }
    
    hla {
        maxCores=16
        removeDuplication=true
    }
}




