params {
    umiFlag=""
    bedFile="/panel/547/bedfile/NanOncov1.1_OncoFuv1.0_NTRK3_chemo.bed"
    
    qc {
        ampliconList="/panel/547/qc/somatic-GRCh37-baits.interval_list"
        targetList="/panel/547/qc/somatic-GRCh37-target.interval_list"
        captureList=true
    }
    
    snpEff {
        dbpath = "/repo/snpEff/data"
    }

    annovar {
        dbpath = "/gcbi/ref/annovardb/humandb/"
    }

    AnnotSV {
        dbpath = "/repo/AnnotSV"
    }
    
}

